.page {
  width: 300px;
  height:100%;
}
 
#article_title
{
  font-family: Anton;
  letter-spacing: 3px;
  font-size: 30px;
}
 
#intro
{
  font-family: Oswald;
  line-height:30px
}
 
.question
{
  font-family: Raleway;
  font-weight: bolder;
  font-size: 15px;
}
 
.answer
{
  font-family: Raleway;
  font-weight: normal;
}
 
#block_quote
{
  font-family: Oswald;
}
 
