.page {
  width:100%;
  height:100%;
}

#article_title 
{
  font-family: Anton;
  letter-spacing: 3px;
}

#intro 
{
  font-family: Oswald;
}

.question
{
  font-family: Railway;
  font-weight: bolder;
}

.answer
{
  font-family: Railway;
  font-weight: lighter;
}

#block_quote 
{
  font-family: Oswald;
}
