.cover {
  text-align: center;
  width: 350px;
  height: 500px;
  background-color: gray;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* finish your styling of the cover div here! */
}
#title 
{
  font-size: 50px;
  padding-top: 50px;
  margin: 5px;
}

#subtitle 
{
  font-size: 11px;
  color: cyan;
  opacity: 50%;
  margin: 0px;
  padding-left: 100px;
}

#cover_image 
{
  width: 200px;
}
