.cover {
  text-align: center;
  width: 350px;
  height: 500px;
  background-color: gray;
  font-family: Source Code Pro;
  font-weight: lighter;
  /* finish your styling of the cover div here! */
}
#title
{
  font-size: 50px;
  padding-top: 50px;
  margin: 5px;
}
 
#subtitle
{
  font-size: 12px;
  color: cyan;
  opacity: 50%;
  margin: 0px;
  padding-left: 110px;
}
 
#cover_image
{
  padding-top: 50px;
  width: 220px;
}